*.xpr
*~
.DS_Store
sw/jetty/logs
sw/jetty/temp
webapps/rdf4j-server/app_dir
webapps/ROOT/content/xml/tei
webapps/ROOT/content/xml/epidoc
webapps/ROOT/WEB-INF/logs
webapps/solr/data
docs/build
**/*.pyc

# preprocessing
/preprocess/download/data
/preprocess/download/settings.py
/preprocess/prepare/data
/preprocess/prepare/error.log
KWIC/**/*.xml
/kiln_out
build.log